<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tag The Bus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E8DFF181DDE2272005F9CF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8DFF2C1DDE2273005F9CF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8DFF371DDE2273005F9CF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
